h1{
    text-align: center;
    color: #0066cc;
    font-family: fantasy;
    text-decoration: underline;
}
h2{
    color: #336666;
    font-family: cursive;
    font-style: italic;
}
html{
  background-color: #99FF99;
}
p{
  font-size: 22px;
}
ul{
  line-height: 20px;
}
em{
  font-weight: bold;
  font-style: normal;
}
strong{
  font-style: italic;
  font-weight: normal;
}
